<?xml version="1.0" encoding="utf-8"?>
<plugin id="com.myproj.test" version="0.0.1"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>ExtendInfo</name>
    <description>Description</description>
    <js-module name="ExtraInfo" src="www/ExtendInfo.js">
        <clobbers target="cordova.plugins.ExtendInfo"/>
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="ExtendInfo">
                <param name="android-package" value="com.myproj.test.ExtraInfo"/>
            </feature>
        </config-file>
        <source-file src="src/android/ExtendInfo.java" target-dir="src/com/myproj/test"/>
    </platform>
</plugin>